# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/

# Cloudinary / Static
# We don't want to track user uploads locally since they are in the cloud
media/pdfs/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db